<% if logged_in? %>
<%= render 'result' %>
<% else %>

<div class="center jumbotron">
  <h1>Juken App にようこそ</h1>

  <h2>
    Juken Appをつかって自分にあった参考書で勉強しよう！
  </h2>

  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>

  <h3>
    <%= link_to "教科書登録はこちら", "#" %>
  </h3>
</div>
<% end %>
